voluptuous==0.8.1
Flask==1.0.2
SQLAlchemy>=1.3.0
SQLAlchemy-serializer==0.91
Flask-SQLAlchemy==2.3.2
Flask-Migrate==2.2.1
ujson==1.35
requests>=2.20.0
pytest==3.6.3
pytest-cov==2.5.1
pylama==7.4.3
raven==6.9.0
psycopg2-binary==2.7.5
pprintpp==0.4.0
Flask-Builder==0.9
pgcli==1.9.1
redis==2.10.6
gunicorn==19.9.0
ipdb==0.11
furl==1.2
flasgger==0.8.1
webargs>=5.1.3
ipython<7
cookiecutter==1.6.0
Pillow==8.1.1
{%- if cookiecutter.use_mail == 'y' -%}
Flask-Mail==0.9.1
{% endif %}
{%- if cookiecutter.use_celery == 'y' -%}
celery==4.2.0
{% endif %}
