voluptuous
Flask
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate
ujson
requests
{%- if cookiecutter.use_furl == 'y' -%}
furl
{% endif %}
pytest
pytest-cov
pylama
raven
psycopg2-binary
pprintpp
{%- if cookiecutter.use_mail == 'y' -%}
Flask-Mail
{% endif %}
Flask-Builder
pgcli
{%- if cookiecutter.use_celery == 'y' -%}
celery
{% endif %}
redis
gunicorn
ipdb
