voluptuous
Flask
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate
ujson
requests
furl
pytest
pytest-cov
raven
psycopg2-binary
pprintpp
{%- if cookiecutter.use_mail == 'y' -%}
Flask-Mail
{% endif %}
Flask-Builder
pgcli
{%- if cookiecutter.use_celery == 'y' -%}
celery
{% endif %}
redis
gunicorn
ipdb
